.navbar-text-brand {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  margin-right: 1.6rem;
}

.navbar-div-menu li a {
  font-size: 1.6rem;
}

.armanbrand {
  font-size: 1.8rem;
}
.navbar-li-menu-items {
  margin-right: 0.48rem;
}

.sidepanel {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(5, 25, 68);
  overflow-x: hidden;
  padding-top: 6rem;
  transition: 0.3s;
}

.sidepanel .mobile-menu-items {
  padding: 0.8rem 0.8rem 0.8rem 3.2rem;
  text-decoration: none;
  font-size: 2.4rem;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
.sidepanel a:hover,
.sidepanel .list-icon:hover {
  color: #8cd4cb;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0.9rem;
  right: 0.2rem;
}
.closebtn-svg {
  stroke: #fff;
  height: 25px;
}
.list-icon {
  stroke: #fff;
  height: 18px;
}
.openbtn-svg {
  stroke: #0dcaf0;
  width: 40px;
}
.openbtn {
  cursor: pointer;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
