* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Vazirmatn", sans-serif;
}

.navbar-text-brand {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  margin-right: 1rem;
}

.navbar-li-menu-items {
  margin-right: 0.3rem;
}

.home-container {
  background-image: url(images/2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 35rem;
}

.text-motto {
  color: #309fe6;
  overflow: hidden;
  text-align: center;
}

.second-home-container {
  /* background-color: #1d3557; */
  background-color: #eaebee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #eaebee;
}
.home-container {
  border: 1px solid #eaebee;
}

.header-second-container {
  padding-top: 1.5rem;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.h4-second-header {
  text-align: center;
  color: #3c3e34;
}

.p-second-header {
  text-align: center;
  color: rgb(63, 131, 190);
}

.infotext-second-container {
  color: #309fe6;
  margin-top: 2rem;
}
.quote-text svg {
  width: 19px;
  height: 19px;
}
.card-title {
  font-size: 1rem;
}

.footer {
  background-color: #3c3e3f;
  color: white;
}
.tell-number:link,
.tell-number:visited {
  color: white;
}
.fourth-home-container {
  background-color: #309fe6;
  font-family: "Acme", sans-serif;
}
.fourth-home-container p {
  font-family: "Acme", sans-serif;
  font-size: 1.6rem;
}
