.img {
  height: 20rem;
  width: auto;
}
.pictures-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  gap: 1rem;
}
.imgdiv {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgdiv:hover {
  cursor: pointer;
  transform: scale(1.01);
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 60%;
  max-width: 70rem;
}
.modal-content-large-img {
  width: 20%;
}

#caption {
  margin: auto;
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  width: 80%;
  max-width: 70rem;
  text-align: center;
  color: #ccc;
  padding: 1rem 0;
  height: 15rem;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.closeimg-btn {
  width: 5rem;
  stroke: #000000;
  background-color: #f0ffff;
  border-radius: 50%;
}

.close {
  position: absolute;
  top: 50%;
  right: 10%;
  transition: 0.3s;
  z-index: 99;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
